@import "modules/base";
@import "partials/colors";

$demoOverLayAnimationDuration: 1s;

body, title, p, h1, h2, h3, h4, h5, div {
  @include typeface;
}

body {
  position: relative;
  margin: 0;
  color: $white;
}

.placeholder { color: #aaa; }

.mfp-content {
  text-align: center;
  padding: 20px 15px;
  color: $white;

  h1 {
    @include eightbit;
    font-size: 45px;
    margin-top: 0;
  }

  .subtitle { 
    font-size: 18px; 
    margin-top: 20px;
  }
}

.btn-retro {
  @include retro-btn;
  background-color: #21748F;
  padding: 15px;
  font-size: 20px;

  &.loading {
    background-color: #525252;
    cursor: not-allowed;
  }
}

.share {
  .signup-thx {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .waitlist {
    width: auto;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 1.5;
  }

  .current-spot, .new-spot { 
    color: #8CDFFF; 
    font-style: 20px;
  }

  .share-links {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    
    .fb-share {
      margin-right: 30px;
      float: left;
      cursor: pointer;
      img { height: 20px; }
    }

    .tw-share {
      float: left;
    }
  }
}

.signup {

  form.signup-form {
    max-width: 260px;
    margin: 0 auto;
    margin-top: 25px;
  
    .oh-no { margin-top: 4px; }

    .control-group {  
      @include clearfix;
      margin-top: 30px;
      &:first-child { margin-top: 0; }
      
      // Styling of the input field
      padding: 0 10px;
      height: 45px;
      border-radius: 0px;
      background-color: transparent;
      color: $white;
      border-bottom: 2px solid $white;
      font-family: "heroregular";

      &.error {
        .glyphicon { color: #C50800; }
      }

      .glyphicon {
        float: left;
        margin-top: 13px;
        margin-right: 20px;
        font-size: 17px;
      }

      input[type="text"], input[type="email"] {
        // Clear any styles
        background: none;
        border: none;
        text-shadow: none;
        box-shadow: none;
        
        // Text field position
        float: left;
        width: 200px;
        padding: 0;
        font-size: 20px;
        margin-top: 3px;
        color: white;
      }
    }

    input[type="submit"] {
      width: 260px;
      margin: 33px 0 auto;
    }
  }
}

.demo-overlay { 
  opacity: 0; 
  -webkit-transition: opacity, $demoOverLayAnimationDuration ease;
  -moz-transition: opacity, $demoOverLayAnimationDuration ease;
  -ms-transition: opacity, $demoOverLayAnimationDuration ease;
  -o-transition: opacity, $demoOverLayAnimationDuration ease;
  transition: opacity, $demoOverLayAnimationDuration ease;
}

.trig-overlay, .trig-gradient {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

$experimental-support-for-svg: true;
.trig-gradient {
  @include background-image(radial-gradient(center, ellipse cover, rgba(0,0,0,0) 5%,rgba(0,0,0,1) 100%));
}

.trig-overlay {
  background-color: $bg-color;
  opacity: 0.8;

  // -webkit-box-shadow: inset 10px 10px 200px #000;
  // -moz-box-shadow: inset 10px 10px 200px #000;
  // box-shadow: inset 10px 10px 200px #000;
}

#demoLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  // Neato background
  background-color: $bg-color;
  @include filter-gradient(#262626, #1c1c1c, vertical); // IE6-9
  @include background-image(linear-gradient(top, #2B2B2B 0%, #0E0E0E 80%));
  @include background-image(linear-gradient(top,  rgba(32,32,32,1) 0%,rgba(25,25,25,1) 80%));
  
  // We use a polyfill for filter
  // Since filter is using polyfill we cannot use css3 animations
  // filter: blur(3px);

  // Allow 3d
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;

  h1, h2, div { @include eightbit; }

  .content {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    // transition: transform 1s;
  }

  .events-wrapper { 
    text-align: center;
    padding: 0 20px;

    &.threed {
      -webkit-perspective: 700px;
      -moz-perspective: 700px;
      -ms-perspective: 700px;
      perspective: 700px;
      margin-top: 300px;    
    }

    &.list {
      margin-top: 80px;
      .event-type { font-size: 22px; }
      .event-msg { font-size: 17px; }
      .event {
        &:first-child {
          .event-type { text-shadow: 0px 0px 20px $event-source-color; }
          .event-msg { text-shadow: 0 0 20px $event-msg-color; }    
        }
      }
    }
  }

  .events {
    text-align: center;
    @include inline-block;

    .event {
      margin-bottom: 22px;
      display: block;
      position: relative;
      text-align: center;
      opacity: 0;

      .event-content {
        @include inline-block;
        > div { float: left; }
      }

      .event-type { color: $event-source-color; }
      .event-msg {
        color: $event-msg-color;
        margin-left: 12px;
        margin-top: 4px;
      }
    }
  }
}

// Helpers
.clearfix {
  @include clearfix;
}

.audiojs { display: none; }