<p>Hey,</p>

<p>You are now on our Wall of Awesome because you just signed up to give Triggio a shot!</p>
<img src="http://i.imgur.com/QxTD6.gif" alt="Your Awesome"> 

<p>We really enjoyed using Triggio here at our office and we want to make sure that you can enjoy Triggio just as much as we do when it's available!</p>

<p>That is why during the next month we will be slowly rolling out Triggio to companies on our waitlist one-by-one in order to ensure a pleasant integration experience.</p>

<p>We want to build something that will have an impact to the work place in a plesant way. We believed that Triggio had achieved this. People smile whenever we hear something from Triggio throughout the day.</p>

<p>
  Draco Li,
  <br>
  Founder | Triggio
</p>

