<p>Hey,</p>

<p>You are now on my 'Wall of Awesome' because you just signed up to give Triggio a shot!</p>
<img src="http://i.imgur.com/QxTD6.gif" alt="Your Awesome" style="min-width: "> 

<br>
<br>

<p>We really enjoyed using Triggio here at our office and we want to make sure that your team can enjoy Triggio just as much as we do when it's available to you!</p>

<p>That is why during the next few months we will be individually rolling out Triggio to companies on our waiting list in order to ensure a great integration experience.</p>

<p>We want to build something that will have a great impact to the workplace in a fun way. We believed that Triggio had achieved this as people would smile whenever they hear something from Triggio throughout the day.</p>

<br>

<p>
  Draco Li,
  <br>
  Founder | Triggio
</p>

