<div id="demoLayer">
  <div class="trigger-header">
    <h1>Triggio</h1>
  </div>

  <div class="events-wrapper list">
    <div class="events">
      <div class="event">
        <div class="event-content clearfix">
          <div class="event-type">{{ type }}</div>
          <div class="event-msg">{{ message }}</div>  
        </div>          
      </div>
    </div>
  </div>
</div>

<div id="signupLayer">
  
  <h1>Triggio</h1>
  <p>realtime sound powered events for your company</p>

  <form action="">
    <div class="control-group">
      <label for="">Company Name:</label>
      <input type="text">
    </div>
    <div class="control-group">
      <label for="">Your Email:</label>
      <input type="text">
    </div>
  </form>

</div>