<div id="demoLayer">
  <div class="content">
    <div class="events-wrapper list">
      <ul class="events fly-simplified"> <!-- flip, fly-simplified -->
        <!-- Events -->
      </ul>
    </div>
  </div>
</div>

<div class="demo-overlay">
  <div class="trig-overlay"></div>
  <div class="trig-gradient"></div>
</div>

<div class="learn-more hidden"><a href="http://www.twilio.com/blog/2013/07/draco-li-builds-triggio-to-automate-alerts-and-increase-productivity.html" target="_blank">learn more about Triggio</a></div>

<script>
  // Config filters polyfill
  var polyfilter_scriptpath = '/css-filters-polyfill/lib/';

  // Load our premade events
  $(function() {
    window.AwesomeTools.addInitialEvents($.parseJSON('<%= @initial_events %>'));
  });
</script>