<div class="share zoom-anim-dialog">
  <h1>Triggio</h1>
  <p class="subtitle">Thank you for signing up!</p>
  
  <p class="message">You are currently <span class="current-spot">#60</span> in the waitlist, share Triggio now to cut ahead to <span class="new-spot">#50</span></p>
  <div class="share-links">
    <a class="box fb">Facebook</div>
    <div class="box tw">Twitter</div>
  </div>
</div>