<div class="signup zoom-anim-dialog">
  <h1>Triggio</h1>
  <p class="subtitle">realtime musical notifications for your company</p>
  
  <form action="#" method="post" class="signup-form">
    <div class="control-group">
      <span class="glyphicon glyphicon-briefcase"></span>
      <input type="text" name="company" placeholder="Company Name" class="company">
    </div>
    <div class="control-group">
      <span class="glyphicon glyphicon-envelope"></span>
      <input type="email" name="email" placeholder="Your Email" class="email">
    </div>
    <input type="submit" value="Join Waitlist">
    <p class="oh-no"></p>
  </form>
</div>